.container {
  width: 40% !important;
  text-align: center;
  padding: 20px;
}

.timerBtn {
  margin: 0px auto;
}

.timer {
  box-shadow: 2px 2px 2px #ccc;
  padding: 10px;
}

.timerform {
  box-shadow: 2px 2px 2px #ccc;
  padding: 20px;
}

.startBtn {
  width: 100%;
}